body {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

.container-padding25 {
  padding-top: 25px;
}

.container-textinput {
  width: 70%;
  display: inline-block;
  padding: 18px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.container-button {
  width: 10%;
  display: inline-block;
  padding: 20px;
  background-color: #6a6b65;
  color: white;
  font-size: 14px;
  font-family: Helvetica, sans-serif;

  border: 1px solid #6a6b65;
  border-radius: 8px;
}

.container-image {
  width: 30%;
  display: block;
  float: left;
  margin-right: 3%;
}
h1 {
  color: #354449;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 1px;
  font-family: "Cairo", sans-serif;
}
/*for mobile apperance*/
@media only screen and (max-width: 768px) {
  h1 {
    float: left;
    font-family: "Cairo", sans-serif;
  }
  .container-textinput {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
  }
  .container-button {
    width: 10%;
    display: inline-block;
    padding: 13px;
    background-color: #6a6b65;
    color: white;
    font-size: 14px;
    font-family: Helvetica, sans-serif;

    border: 1px solid #6a6b65;
    border-radius: 8px;
  }
}
